@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --primary: 250 95% 76%;
  --primary-foreground: 250 95% 96%;
}

body {
  @apply antialiased;
}

